.DS_Store
*/.DS_Store
.ipynb_checkpoints
nstarwrap.egg-info/
nstarwrap/__pycache__/
Private/
Tutorials/Tutorial_1/correlation.png
Tutorials/Tutorial_1/fort.1
Tutorials/Tutorial_1/image.nst
Tutorials/Tutorial_1/my_mcmc.h5
Tutorials/Tutorial_2/correlation.png
Tutorials/Tutorial_2/fort.1
Tutorials/Tutorial_2/image.fits.pkl
Tutorials/Tutorial_2/image.nst
Tutorials/Tutorial_2/my_mcmc.h5
Tutorials/Tutorial_3/correlation.png
Tutorials/Tutorial_3/image.fits.pkl
Tutorials/Tutorial_3/image.nst
Tutorials/Tutorial_3/my_rescaled_mcmc.h5
Tutorials/Tutorial_3/my_rescaled_mcmc.txt
Tutorials/Tutorial_4/correlation.png
Tutorials/Tutorial_4/image.fits
Tutorials/Tutorial_4/image.fits.pkl
Tutorials/Tutorial_4/image.psf
Tutorials/Tutorial_4/4-star_fit.h5
Tutorials/Tutorial_4/4-star_fit.txt
